<form style="width: 300px;" class="document-center">
  <label for="email-input" class="form-label">
    <em>Acrnm</em> drop notification system
  </label>
  <input id="email-input"placeholder="anon@example.com" />
  <button >Deploy spy</button>
</form>